<!DOCTYPE html>
<html>
<head>
  <title>Mongoid scribe</title>
  <%= stylesheet_link_tag    "mongoid/scribe/application", media: "all" %>
  <%= javascript_include_tag "mongoid/scribe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
