.container
  %h2 Explanations

  .table-responsive
    %table{ class: 'table table-striped' }
      %thead
        %tr
          %th Path
          %th Query Class
          %th Score
          %th Used Index
          %th More

        - @explanations.each do |explanation|
          = render 'mongoid/scribe/explanations/explanation', explanation: Mongoid::Scribe::ExplanationViewModel.new(explanation)
          -#= render 'mongoid/scribe/explanations/explanation', explanation: view_model_for(explanation)
