.container
  %h2 Explanations

  .table-responsive
    %table{ class: 'table table-striped' }
      %thead
        %tr
          %th Path
          %th Query Class
          %th Score
          %th More

        - @explanations.each do |explanation|
          = render 'mongoid/scribe/explanations/explanation', explanation: explanation
